/data
/output
/submodule
*.ply
/graspGPT/__pycache__
/graspGPT/model/__pycache__
/graspGPT/wandb
/wandb
*.obj
*.png
/blender/__pycache__
/graspGPT/output
/__pycache__
/.ipynb_checkpoints
/graspGPT/model/csrc/build
/graspGPT/model/csrc/dist
/graspGPT/model/csrc/parser_cpp.egg-info
*.o
